<div class="row">
    <div class="col-lg-12" style="padding: 0px 5px 0px 5px;" align="center">
        <div class="banner">
            <img md-card-image src="./assets/image/banner.jpg" alt="Learning Cover" style="height: 100%;background-size: 100%;width: 100%;" >
            <div class="main-wrapper">
                <h2>
                 What course will you like to learn?
                </h2>
                <p>Occasional entreaties comparison me difficulty so themselves.</p>
                <a md-raised-button >GET STARTED</a>
            </div>
          
        </div>
    </div>
</div>

<div class="layout-align">
<h1 style="text-align: center;">dd</h1>
<div class="row">
    <div  class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12" style="padding: 10px;">
        <md-card class="example-card">
            <img style="background-color: #f7df1e;height: 200px;" md-card-image class="shadow"  src="./assets/image/java.svg">
            <div class="card-wrapper">
                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
                <h6>Web developer</h6>
                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
            </div>
            <md-card-content class="card-content">
                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
                <h6>Web developer</h6>
                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
            </md-card-content>
        </md-card>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12" style="padding: 10px;">
        <md-card class="example-card">
            <img style="background-color:#00bcd4;height: 200px;" md-card-image class="shadow" src="./assets/image/angular.svg">
            <div class="card-wrapper">
                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
                <h6>Web developer</h6>
                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
            </div>
            <md-card-content class="card-content">
                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
                <h6>Web developer</h6>
                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
            </md-card-content>
        </md-card>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12" style="padding: 10px;">
        <md-card class="example-card">
            <img style="background-color: #777bb3;height: 200px;" md-card-image class="shadow" src="./assets/image/php.svg">
            <div class="card-wrapper">
                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
                <h6>Web developer</h6>
                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
            </div>
            <md-card-content class="card-content">
                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
                <h6>Web developer</h6>
                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
            </md-card-content>
        </md-card>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12" style="padding: 10px;">
        <md-card class="example-card">
            <img style="background-color: rgb(227, 79, 38);height: 200px;" md-card-image class="shadow" src="./assets/image/html5.svg">
            <div class="card-wrapper">
                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
                <h6>Web developer</h6>
                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
            </div>
            <md-card-content class="card-content">
                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
                <h6>Web developer</h6>
                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
            </md-card-content>
        </md-card>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12" style="padding: 10px;">
        <md-card class="example-card">
            <img style="background-color:#002A31;height: 200px;" md-card-image class="shadow" src="./assets/image/sails.svg">
            <div class="card-wrapper">
                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
                <h6>Web developer</h6>
                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
            </div>
            <md-card-content class="card-content">
                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
                <h6>Web developer</h6>
                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
            </md-card-content>
        </md-card>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12" style="padding: 10px;">
        <md-card class="example-card">
            <img style="background-color:#1560AC;height: 200px;" md-card-image class="shadow" src="./assets/image/angular1.svg">
            <div class="card-wrapper">
                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
                <h6>Web developer</h6>
                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
            </div>
            <md-card-content class="card-content">
                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
                <h6>Web developer</h6>
                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
            </md-card-content>
        </md-card>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12" style="padding: 10px;">
        <md-card class="example-card">
            <img style="background-color:#002A31;height: 200px;" md-card-image class="shadow" src="./assets/image/css3.svg">
            <div class="card-wrapper">
                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
                <h6>Web developer</h6>
                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
            </div>
            <md-card-content class="card-content">
                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
                <h6>Web developer</h6>
                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
            </md-card-content>
        </md-card>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12" style="padding: 10px;">
        <md-card class="example-card">
            <img style="background-color:#563d7c;height: 200px;" md-card-image class="shadow" src="./assets/image/bootstrap.svg">
            <div class="card-wrapper">
                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
                <h6>Web developer</h6>
                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
            </div>
            <md-card-content class="card-content">
                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
                <h6>Web developer</h6>
                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
            </md-card-content>
        </md-card>

    </div>
     </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12" style="padding:0px 5px 0px 5px;">
        <md-card class="cover" style="background-image: url('https://mdbootstrap.com/img/Photos/Exposure/Dark/courses.jpg'); background-size: cover;">
            <div >

            </div>
        </md-card>
    </div>
</div>

<div class="layout-align">
<button class="left-alignment" md-mini-fab style="background-color: #fff;">
      <md-icon>keyboard_arrow_left</md-icon>
    </button>
    <button class="right-alignment" md-mini-fab style="background-color: #fff;float: right;">
      <md-icon>keyboard_arrow_right</md-icon>
    </button>

<div class="row">

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding: 10px;">

        <md-card class="card-shadow">
            <img style="background-color:#1560AC;height: 200px;" md-card-image src="./assets/image/angular1.svg">
            <md-card-content>
                <h4 class="card-title"><strong>The Yarn Package Manager - Why Should We Use It ? Learn</strong></h4>
                
                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
            </md-card-content>
        </md-card>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding: 10px;">
        <md-card class="card-shadow">
            <img style="background-color:#1560AC;height: 200px;" md-card-image src="./assets/image/angular1.svg">
            <md-card-content>
                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
                <h6>Web developer</h6>
                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
            </md-card-content>
        </md-card>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding: 10px;">
        <md-card class="card-shadow">
            <img style="background-color:#1560AC;height: 200px;" md-card-image src="./assets/image/angular1.svg">
            <md-card-content>
                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
                <h6>Web developer</h6>
                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
            </md-card-content>
        </md-card>
       
    </div>
   
</div>
 
</div>

<div class="layout-align" >
<button class="left-alignment" md-mini-fab style="background-color: #fff;">
      <md-icon>keyboard_arrow_left</md-icon>
    </button>
    <button class="right-alignment" md-mini-fab style="background-color: #fff;float: right;">
      <md-icon>keyboard_arrow_right</md-icon>
    </button>
<div class="row">

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding: 10px;">

        <md-card class="card-shadow">
            <img style="background-color:#1560AC;height: 200px;" md-card-image src="./assets/image/angular1.svg">
            <md-card-content>
                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
                <h6>Web developer</h6>
                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
            </md-card-content>
        </md-card>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding: 10px;">
        <md-card class="card-shadow">
            <img style="background-color:#1560AC;height: 200px;" md-card-image src="./assets/image/angular1.svg">
            <md-card-content>
                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
                <h6>Web developer</h6>
                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
            </md-card-content>
        </md-card>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding: 10px;">
        <md-card class="card-shadow">
            <img style="background-color:#1560AC;height: 200px;" md-card-image src="./assets/image/angular1.svg">
            <md-card-content>
                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
                <h6>Web developer</h6>
                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
            </md-card-content>
        </md-card>
       
    </div>
   
</div>
 
</div>

<div class="layout-align" >
<button class="left-alignment" md-mini-fab style="background-color: #fff;">
      <md-icon>keyboard_arrow_left</md-icon>
    </button>
    <button class="right-alignment" md-mini-fab style="background-color: #fff;float: right;">
      <md-icon>keyboard_arrow_right</md-icon>
    </button>
<div class="row">

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding: 10px;">

        <md-card class="card-shadow">
            <img style="background-color:#1560AC;height: 200px;" md-card-image src="./assets/image/angular1.svg">
            <md-card-content>
                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
                <h6>Web developer</h6>
                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
            </md-card-content>
        </md-card>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding: 10px;">
        <md-card class="card-shadow">
            <img style="background-color:#1560AC;height: 200px;" md-card-image src="./assets/image/angular1.svg">
            <md-card-content>
                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
                <h6>Web developer</h6>
                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
            </md-card-content>
        </md-card>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding: 10px;">
        <md-card class="card-shadow">
            <img style="background-color:#1560AC;height: 200px;" md-card-image src="./assets/image/angular1.svg">
            <md-card-content>
                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
                <h6>Web developer</h6>
                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
            </md-card-content>
        </md-card>
       </div>
   </div>
 </div>
 <!-- <div class="carousel">
    <div class="carousel-inner">
        <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
           <div class="carousel-item">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding: 10px;">
                    <md-card class="card-shadow">
                        <img style="background-color:#1560AC;height: 200px;" md-card-image src="./assets/image/angular1.svg">
                        <md-card-content>
                        <h4 class="card-title"><strong>The Yarn Package Manager - Why Should We Use It ? Learn</strong></h4> 
                          <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
                         </md-card-content>
                     </md-card>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding: 10px;">
                    <md-card class="card-shadow">
                        <img style="background-color:#1560AC;height: 200px;" md-card-image src="./assets/image/angular1.svg">
                        <md-card-content>
                        <h4 class="card-title"><strong>The Yarn Package Manager - Why Should We Use It ? Learn</strong></h4> 
                          <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
                         </md-card-content>
                     </md-card>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding: 10px;">
                    <md-card class="card-shadow">
                        <img style="background-color:#1560AC;height: 200px;" md-card-image src="./assets/image/angular1.svg">
                        <md-card-content>
                        <h4 class="card-title"><strong>The Yarn Package Manager - Why Should We Use It ? Learn</strong></h4> 
                          <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
                         </md-card-content>
                     </md-card>
                  </div>

               </div>
        <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding: 10px;">
                    <md-card class="card-shadow">
                        <img style="background-color:#1560AC;height: 200px;" md-card-image src="./assets/image/angular1.svg">
                        <md-card-content>
                        <h4 class="card-title"><strong>tHIS  is test contentuld We Use It ? Learn</strong></h4> 
                          <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
                         </md-card-content>
                     </md-card>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding: 10px;">
                    <md-card class="card-shadow">
                        <img style="background-color:#1560AC;height: 200px;" md-card-image src="./assets/image/angular1.svg">
                        <md-card-content>
                        <h4 class="card-title"><strong>The Yatest asfasdfasdfManager - Why Should We Use It ? Learn</strong></h4> 
                          <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
                         </md-card-content>
                     </md-card>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding: 10px;">
                    <md-card class="card-shadow">
                        <img style="background-color:#1560AC;height: 200px;" md-card-image src="./assets/image/angular1.svg">
                        <md-card-content>
                        <h4 class="card-title"><strong>The Yarn Pasdfdasfsadf - Why Should We Use It ? Learn</strong></h4> 
                          <p class="card-text">Temporibus autem quibusdam et ausdfsdfsd debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
                         </md-card-content>
                     </md-card>
                  </div>
        </div>
        <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding: 10px;">
                    <md-card class="card-shadow">
                        <img style="background-color:#1560AC;height: 200px;" md-card-image src="./assets/image/angular1.svg">
                        <md-card-content>
                        <h4 class="card-title"><strong>The Yarn PacdfsadfasdfasdUse It ? Learn</strong></h4> 
                          <p class="card-text">Temporibus autem quibusdam et  aut officiis debitaut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
                         </md-card-content>
                     </md-card>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding: 10px;">
                    <md-card class="card-shadow">
                        <img style="background-color:#1560AC;height: 200px;" md-card-image src="./assets/image/angular1.svg">
                        <md-card-content>
                        <h4 class="card-title"><strong>The Yarn Packag dsafasdfa adsf? Learn</strong></h4> 
                          <p class="card-text">Temporibus autem quibusdam asdfsadftis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
                         </md-card-content>
                     </md-card>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding: 10px;">
                    <md-card class="card-shadow">
                        <img style="background-color:#1560AC;height: 200px;" md-card-image src="./assets/image/angular1.svg">
                        <md-card-content>
                        <h4 class="card-title"><strong>The Yarn Package fsadfasdfasdfasdf   xzcould We Use It ? Learn</strong></h4> 
                          <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
                         </md-card-content>
                     </md-card>
                  </div>
        </div>
        <label for="carousel-3" class="carousel-control prev control-1">‹</label>
        <label for="carousel-2" class="carousel-control next control-1">›</label>
        <label for="carousel-1" class="carousel-control prev control-2">‹</label>
        <label for="carousel-3" class="carousel-control next control-2">›</label>
        <label for="carousel-2" class="carousel-control prev control-3">‹</label>
        <label for="carousel-1" class="carousel-control next control-3">›</label>
        
    </div>

</div> -->

<!-- </div> -->
 
