<div class="row">
    <div class="col-lg-12" style="padding: 0px 5px 0px 5px;" align="center">
        <md-card class="example-card" style="padding: 0px">
            <div class="featured">
				<div class="title">
					<h4>Tagged </h4>
					<h1>angularJS</h1>
					<p>One framework. Mobile and desktop.</p>
				</div>
			</div>
        </md-card>
    </div>
  
    <div class="col-lg-12 grid-guts">
    	<div  class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding: 10px;">
	        <md-card class="example-card">
	            <img style="background-color: #f7df1e;height: 200px;" md-card-image class="shadow"  src="./assets/image/java.svg">
	            <md-card-content>
	                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
	                <h6>Web developer</h6>
	                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
	                <md-divider></md-divider>
	            </md-card-content>
	        </md-card>
    	</div>
    	<div  class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding: 10px;">
	        <md-card class="example-card">
	            <img style="background-color: #f7df1e;height: 200px;" md-card-image class="shadow"  src="./assets/image/java.svg">
	            <md-card-content>
	                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
	                <h6>Web developer</h6>
	                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
	            </md-card-content>
	        </md-card>
    	</div>
    	<div  class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding: 10px;">
	        <md-card class="example-card">
	            <img style="background-color: #f7df1e;height: 200px;" md-card-image class="shadow"  src="./assets/image/java.svg">
	            <md-card-content>
	                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
	                <h6>Web developer</h6>
	                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
	            </md-card-content>
	        </md-card>
    	</div>
    	<div  class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding: 10px;">
	        <md-card class="example-card">
	            <img style="background-color: #f7df1e;height: 200px;" md-card-image class="shadow"  src="./assets/image/java.svg">
	            <md-card-content>
	                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
	                <h6>Web developer</h6>
	                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
	            </md-card-content>
	        </md-card>
    	</div>
    	<div  class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding: 10px;">
	        <md-card class="example-card">
	            <img style="background-color: #f7df1e;height: 200px;" md-card-image class="shadow"  src="./assets/image/java.svg">
	            <md-card-content>
	                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
	                <h6>Web developer</h6>
	                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
	            </md-card-content>
	        </md-card>
    	</div>
    	<div  class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding: 10px;">
	        <md-card class="example-card">
	            <img style="background-color: #f7df1e;height: 200px;" md-card-image class="shadow"  src="./assets/image/java.svg">
	            <md-card-content>
	                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
	                <h6>Web developer</h6>
	                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
	            </md-card-content>
	        </md-card>
    	</div>
    	<div  class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding: 10px;">
	        <md-card class="example-card">
	            <img style="background-color: #f7df1e;height: 200px;" md-card-image class="shadow"  src="./assets/image/java.svg">
	            <md-card-content>
	                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
	                <h6>Web developer</h6>
	                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
	            </md-card-content>
	        </md-card>
    	</div>
    	<div  class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding: 10px;">
	        <md-card class="example-card">
	            <img style="background-color: #f7df1e;height: 200px;" md-card-image class="shadow"  src="./assets/image/java.svg">
	            <md-card-content>
	                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
	                <h6>Web developer</h6>
	                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
	            </md-card-content>
	        </md-card>
    	</div>
    	<div  class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding: 10px;">
	        <md-card class="example-card">
	            <img style="background-color: #f7df1e;height: 200px;" md-card-image class="shadow"  src="./assets/image/java.svg">
	            <md-card-content>
	                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
	                <h6>Web developer</h6>
	                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
	            </md-card-content>
	        </md-card>
    	</div>
    	<div  class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding: 10px;">
	        <md-card class="example-card">
	            <img style="background-color: #f7df1e;height: 200px;" md-card-image class="shadow"  src="./assets/image/java.svg">
	            <md-card-content>
	                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
	                <h6>Web developer</h6>
	                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
	            </md-card-content>
	        </md-card>
    	</div>
    	<div  class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding: 10px;">
	        <md-card class="example-card">
	            <img style="background-color: #f7df1e;height: 200px;" md-card-image class="shadow"  src="./assets/image/java.svg">
	            <md-card-content>
	                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
	                <h6>Web developer</h6>
	                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
	            </md-card-content>
	        </md-card>
    	</div>
    	<div  class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding: 10px;">
	        <md-card class="example-card">
	            <img style="background-color: #f7df1e;height: 200px;" md-card-image class="shadow"  src="./assets/image/java.svg">
	            <md-card-content>
	                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
	                <h6>Web developer</h6>
	                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
	            </md-card-content>
	        </md-card>
    	</div>
	</div>


</div>