.sidenav-content{
      width: 100%;
}
.docs-component-viewer-sidenav{
  box-shadow: 3px 0 6px rgba(0,0,0,0.24);
    padding-bottom: 64px;
    width: 240px;
    min-width: 5%;
    bottom: 0;
    overflow: auto;
    height: 100%;
}

md-nav-list{
    padding-top: 20px;
}
md-list-item:hover{
/*box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);*/
background-color:rgba(0,0,0,.12);
color:#2196F3;
}
.active-link{
    background-color:rgba(0,0,0,.12);
color:#2196F3;
}
md-list-item md-icon{
        font-size: 18px;
        line-height: 24px;
    text-align: center;
}
.icon-position{
    transition: padding 0.35s cubic-bezier(0, 0, 0.2, 1), margin 0.35s cubic-bezier(0, 0, 0.2, 1);
    margin-right: 18px;
}
.text-align{
    font-weight: normal;
    display: inline;
}
.nav-footer{
    position: absolute;
    bottom: 0;
}
.facebook{
    margin-left: 25px;
    background-color:#fff;

}
.google{
    margin-left: 25px;
    background-color:#fff;

}
.twitter{
    margin-left: 25px;
    background-color:#fff;
}
.twitter:hover{
    color: #00ACED;
    box-shadow: 0 0 24px 0 #00ACED
}

.facebook:hover{
     color: #3b5998;
    box-shadow: 0 0 24px 0 #3b5998
}
.google:hover{

    color: #dd4b39;
    box-shadow: 0 0 24px 0 #dd4b39
  
}
.page-footer{
    background-color: #333C44;
}

